<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="./css/styles.css">
    <title>Formulario </title>
</head>
<body>
    <h2>Contacto</h2>
        <form id="form" action="/form" method="POST">
            <label>Nombre:
                <input type="text" name="name" value="<%= name || '' %>" required>
            </label>
        <p></p>
            <label>Email:
                <input type="email" name="email" value="<%= email || '' %>" required>
            </label>
        <p></p>
            <label>¿Qué desea?
                <select name="options" required>
                    <option value="" disabled selected>Seleccione una opción</option>
                    <option value="consulta" <%= options === 'consulta' ? 'selected' : '' %>>Consulta</option>
                    <option value="sugerencia" <%= options === 'sugerencia' ? 'selected' : '' %>>Sugerencia</option>
                    <option value="reclamo" <%= options === 'reclamo' ? 'selected' : '' %>>Reclamo</option>
                </select>
            </label>
        <p> </p>
            <fieldset>
                <label><input type="checkbox" name="type" value="bolso"
                    <%= (options ||[]).includes('bolso') ? 'checked' : '' %>> Bolso</label>
                <label><input type="checkbox" name="type" value="choker"
                    <%= (options ||[]).includes('choker') ? 'checked' : '' %>> Choker</label>
                <label><input type="checkbox" name="type" value="pendientes"
                    <%= (options ||[]).includes('pendientes') ? 'checked' : '' %>> Pendientes</label>
                <label><input type="checkbox" name="type" value="otros"
                    <%= (options ||[]).includes('otros') ? 'checked' : '' %>> Otros</label>
            </fieldset>
        <p></p>
            <label>Mensaje:
                <textarea name="message" required><%= message || '' %></textarea>
            </label>
        <p></p>
            <button type="submit">Enviar</button>
        </form>
</body>
</html>